<!DOCTYPE HTML>
<html lang="en-US">
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
        <title>{% block title %}HeartLeaf{% end %}</title>
        <link rel="shortcut icon" href="{{ static_url("favicon.ico") }}" />
        <link rel="stylesheet" type="text/css" href="{{ static_url("css/blueprint/screen.css") }}" />
        <script type="text/javascript" src="{{ static_url("js/jquery-1.6.2.min.js") }}"></script>
        {% block style %}{% end %}
        {% block js %}{% end %}
    </head>
    <body>
        {% block head %}{% end %}
        {% block nav %}{% end %}
        {% block head2 %}{% end %}
        {% block head3 %}{% end %}
        {% block head4 %}{% end %}
        {% block head5 %}{% end %}
        {% block head6 %}{% end %}
        {% block head7 %}{% end %}
        {% block head8 %}{% end %}
        {% block head9 %}{% end %}
    </body>
</html>
